@font-face{
font-family:'neon';
src: url('NEON CLUB MUSIC.otf');
}

body{
  margin: 0;
  background-color: black;
  color: white;
  font-family: neon, sans-serif;
}

main {
  display: flex;
  width: 100%;
  flex-wrap: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  flex-shrink: 0;
}

h1, h3 {
  margin: 10px;
  /*padding: 0;
  line-height: normal;*/
}

button{
  font-family: neon, sans-serif;
  font-size: 30px;
  background-color: transparent;
  border: none;
  color: white;
  margin: 10px 0 0 0;
  animation: test 1s infinite;
}

@keyframes test {
  0% {color: #B70015;}
  50% {color: white;}
  100% {color: #B70015;}
}

.circle {
  height: 80vh;
  flex-grow: 1
}

#roundnumber {
  animation: test 1s 1;
}

#blue {
  background-color: #78C5D4;
}

#blue2 {
  background-color: #459BA6;
}

#green {
  background-color: #78C272;
}

#green2 {
  background-color: #C4D561;
}

#yellow {
  background-color: #F5D55C;
}

#orange {
  background-color: #F28B46;
}

#pink {
  background-color: #E9679F;
}

#pink2 {
  background-color: #C062A2;
}
